/*ACCEUIL PAGE*/

/*main*/
html {
    font-family: 'Arvo', serif;
}
/*bodys*/
.Accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./picture/mclaren.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.main-accueil{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.presentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    list-style: none; 
    padding-left: 2%;
    width: 95%;
    height: 75.4vh;
}
/*end bodys*/

/*end main*/

/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
}
.Name {
     color: white;
}
span{
    opacity: 0;
    transition: all 0.2s ease;
    letter-spacing: 2px;
}
span.fade {
    opacity: 1;
}
.casesHeader {
    display: flex;
    width: 30%;
    column-gap: 50px;
}
.HeaderButton {
    background: none;
    border-radius: 30px;
    list-style: none;
    cursor: pointer;
    border: solid 1px white;
}
.HeaderButton a {
    font-size: x-large;
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 20px;
}
.HeaderButton:hover {
    border: solid white 2px;
    border-top: none;
}
.HeaderButton:active {
    transform: translateY(4px);
    box-shadow: 0 2px white;
}
.navResposiv {
    display: flex;
    list-style: none;
    align-items: center;
}
.burgerButton, .burgerButtonClose {
    display: none;
}
@media screen and (max-width: 900px) {
    .casesHeader {
        display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 40%; 
    }
    .HeaderButton {
        margin-top: 15%;
    }
    .open .casesHeader {
        display: block;
        padding: 0;
        margin-top: 70%;
    }
    .burgerButton  {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }
    .burgerButtonClose {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }
    .open .burgerButton {
      display: none;
    }
    .open .burgerButtonClose {
        display: block;
    }
    .open .Title {
        margin-top: 70%;
    }

}
/*end header*/

/*main*/
.Title {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    align-self: center;
    font-size: x-large;
    flex-direction: column;
    color: white;
}
.Title h1 {
    align-self: center;
    margin: 0;
}
hr {
    width: 180px;
}
.Presentation {
    display: flex;
    color: white;
    margin: 0;
    font-size: x-large;
    word-spacing: 5px;
    text-align: center;
}
/*end main*/

/*button CV*/
.ButtonCV button {
    background: none;
    border: solid white 1.5px;
    border-radius: 30px;
    cursor: pointer
}
.ButtonCV h1 {
    color: white;
}
.ButtonCV:hover {
    transform: translateY(2px);
    box-shadow: none;
    border-radius: 30px;
}
.ButtonCV:active {
    transform: translateY(5px);
    border-bottom: 3px solid white;
}
.Consult {
    text-decoration: none;
}
/*end button CV*/
/*END Accueil PAGE*/

/*TECHNO PAGE*/

/*techno body*/
.Technologies {
    display: flex;
    flex-direction: column;
    background-image: url(./picture/mclaren2.jpg);
    background-size: cover;
    height: 80vh;
    margin: 0;
}
/*end techno body*/
.TechnoCase {
    display: flex;
    margin-top: 5%;
    justify-content: center;  
    column-gap: 30%;
}
@media screen and (max-width: 780px) {
    .open .TechnoCase{
        margin-top: 30%;
    }
    .open .ButtonCV {
        margin-top: 15%;
    }
    .TechnoCase {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .logiciel, .languages {
        margin-top: 100px;
        display: flex;
        align-items: center;
    }
    .fiveImg {
        width: 270px;
        margin-left: 20px;
    }
    .fourImg {
        margin-left: 35px;
    }
    .fiveImg img {
        width: 90px;
    }
    .fourImg img {
        width: 100px;
    }
}
.languages, .logiciel {
    display: flex;
    align-items: center;
    font-size: x-large;
    width: 20%;
    flex-direction: column;
    color: white;
}
.languages hr {
    font-size: x-large;
    margin: 0;
    width: 225px;
}
.logiciel hr {
    font-size: x-large;
    margin: 0;
    width: 170px;
}
.languageImg {
    list-style: none;
    display: flex;
    padding: 0;
    column-gap: 20%;
    align-items: center;
    flex-wrap: wrap;
}
.language-logo{
    margin-right: 20%;
}
.fourImg {
    display: flex;
    margin-top: 5%;
    column-gap: 35%;
} 
.fiveImg {
    display: flex;
   margin-top: 30%;
   column-gap: 40%;
}

/*END TECHNO PAGE*/

/*Mes projets*/

/*body*/
.Projets {
    display: flex;
    flex-direction: column;
    background-image: url(./picture/back\ mclaren.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 98.1vh;
    margin: 0;
}

/*end body*/

/*cases*/
.projet{
    display: flex;
    margin-top: 5%;
}

.fistcases, .secCases {
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    width: 90%;
}

.secCases {
    display: flex;
}

.FirstCase {
    display: flex;
    column-gap: 300px;
}
.firstCases:hover, .secondCases:hover, .thirdCases:hover, .fourthCases:hover {
    zoom: 105%;
    box-shadow: 2px 2px 5px 5px white;
    border-radius: 30px;
    transition-duration: .4s;
}
.firstCases:active, .secondCases:active, .thirdCases:active, .fourthCases:active {
    border: 3px solid white;
    border-radius: 30px;
}

.fistcases h4, .secCases h4 {
    font-size: x-large;
    color: white;
    margin: 7%;
}
.fistcases img, .secCases img {
    margin-top: 20px;
}

.firstCases a, .secondCases a, .thirdCases a, .fourthCases a {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    border: solid white 1.5px;
    border-radius: 30px;
    text-decoration: none;
}

.secondsCase {
    display: flex;
    margin-top: 100px;
    column-gap: 900px;
}

@media screen and (max-width: 1167px) {
    .open .projet{
        margin-top: 50%;
    }
    .projet {
        display: flex;
        flex-direction: column;
    }
    .fistcases{
        margin-bottom: 15%;
    }
    .firstCases a, .secondCases a, .thirdCases a, .fourthCases a {
         width: 200px;
     } 
    
}
/*end cases*/
/*end Mes projets*/

/*Contact*/

/*header Contact*/

.ContactBack {
    background-image: url(./picture/f1paddok.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 96.5vh;
}

/*end header Contact*/

/*title Contact*/
.textcontact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textcontact h1, hr {
    color: white;
    margin-top: 4.5%;
}
/*end title Contact*/

/*Case Contact*/
.contact {
    display: flex;
    align-items: center;

}
.firstCont {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    padding: 0 80px;
    column-gap: 20%;
    width: 50%;
    margin-top: 6%;
}
.secCont {
   display: flex;
   padding: 0 80px;
   justify-content: flex-start;
   column-gap: 20%;
   width: 50%;
   margin-top: 6%;
}
.firstCont a:hover, .secCont a:hover {
    border: 3px solid white;
    border-radius: 30px;
    transition-duration: .5s;
}

@media screen and (max-width: 780px) {
    .open .textcontact {
        margin-top: 50%;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .firstCont{
        margin-top: 15%;
    }
    .secCont {
        margin-top: 20%;
        margin-right: 8%;
    }
}

/*Case Contact*/

/*end Contact*/ 